.card-title {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ede7f6;
    /* Color de fondo lila claro */
}

.update-student {
    background-color: #f4f4f4;
    /* Color de fondo de la tarjeta */
    border: 1px solid #433f3f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(95, 6, 95, 0.2);
    padding: 40px;
    /* Aumentar el padding */
    width: 40%;
    /* Aumentar el ancho */
    max-width: 600px;
    /* Establecer un ancho máximo */
    margin: 2 auto;
}

.card-title {
    text-align: center;
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #5f065f;
    margin-bottom: 20px;
}

.form-label {
    color: #5f065f;
    font-weight: bold;
}

.form-control {
    border: 1px solid #5f065f;
    border-radius: 4px;
    padding: 10px;
    color: #5f065f;
}

.form-control:focus {
    border-color: #b085c5;
    box-shadow: 0 0 5px rgba(176, 133, 197, 0.5);
}

.btn-primary {
    background-color: #b085c5;
    /* Color morado claro */
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #7b3a96;
    /* Color morado oscuro cuando el cursor está encima */
}

.mb-3 {
    margin-bottom: 20px;
}